<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ node.getDocument().getTitle() }}</title>
	<link rel="stylesheet" href="/static/fira.css" />
	<link rel="stylesheet" href="/static/site.css" />
	<link rel="stylesheet" href="/static/highlight.css" />
</head>
<body>
	<div class="container">
		{% if not node.hasAttribute("no-navigation") %}
		<nav>
			<a href="/">home </a>
			<span class="separator">/</span>
			<a href="/notes">notes</a>
		</nav>
		{% endif %}
		<main>
			<h1 style="margin-bottom: 0;">{{ node.getDocument().getTitle() }}</h1>
			{% if not node.hasAttribute("index") %}
			<div class="metadata">
				<table>
					<tr>
						<th>:author:</th>
						<td><a href="/">{{node.getAttribute('author')}}</a></td>
					</tr>
					<tr>
						<th>:revdate:</th>
						<td><time>{{node.getRevisionDate()}}</time></td>
					</tr>
					{% if node.hasAttribute("tags") %}
					<tr>
						<th>:tags:</th>
						<td>{{node.getAttribute("tags")}}</td>
					</tr>
					{% endif %}
				</table>
			</div>
			{%endif%}

			{% if node.hasAttribute("toc") %}
			<details class="toc">
				<summary><strong>table of contents</h2></strong></summary>

				{{node.getConverter().convert(node, "outline")}}
			</details>
			{% endif %}

			{{ node.getContent() }}

			{% if not node.hasAttribute("index") %}
			<section class="comment">
				<a href="mailto:siarie@duck.com&cc=~siarie/site@lists.sr.ht?Subject=[comment] {{node.getDocument().getTitle()}}"
				>comment</a> |
				<a href="https://lists.sr.ht/~siarie/site?search={{node.getDocument().getTitle()}}"
				>show comment</a> |
				<a href="#">top</a>
			{% endif %}
		</main>
		<hr />
		<footer>
			<div style="margin-right: auto;">
				Sri Aspari &copy; 2023. Powered by <a href="https://Asciidoctor.org">Asciidoctor</a>
			</div>
			<nav>
				<a href="/index.xml">feed</a> . <a href="https://code.siarie.me/siarie/site">code</a>
			</nav>
		</footer>
	</div>
</body>
</html>
