:root {
	--bgc: #F8F4F6;
	--fgc: #000000;
}
* {box-sizing: border-box;}
html {font-size: 14px; font-family: 'Fira Code', monospace;font-variant-ligatures: none;color: var(--fgc);}
pre, code {font-family: 'Fira Code', monospace;font-size: 14px;}
math {font-family: 'Fira Code', monospace;}
body {margin: 0;background: var(--bgc);}
h1 {font-size: 1.2rem}
h2, h3, h4, h5, h6 {font-size: 1rem;}
h1::before {content: '= '}
h2::before {content: '== ';}
h3::before {content: '=== ';}
h4::before {content: '==== ';}
h5::before {content: '===== ';}
ul li::marker{content: '- ';color: grey;}
ul, ol {list-style-position: inside;padding-left: 2ch;}
li p {display: inline-block;}
/* ul.custom-marker ul {padding-left: 4ch;} */

ul.custom-marker li::marker {content: attr(data-marker);}
nav:not(footer nav) {display: flex;
	font-size: 0.8rem;
	margin-top: -1rem;}
nav .separator {margin: 0 4px;color: #ccc;}
nav a {color: blue;}
code, pre {background: #f4f4f4;padding: 0.5rem;border: 1px solid #ccc;}
code {padding: 0 2px;}
pre code {border: none;}
footer {
	display: flex;
	font-size: 0.8rem;
	text-align:center;
	flex-direction: column;
}
@media only screen and (min-width: 560px) {
	footer {flex-direction: row;}
	footer nav {text-align: right;}
}
.container {max-width: 80ch;margin: 0 auto;padding: 1rem;}
li p {margin: 0;}
hr {background: #ccc;height: 2px;border: none;}
.metadata {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin: 1rem 0 1rem;
	color: #757575;
}
.metadata table {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.metadata table th {text-align: left;width: 1%;}
.toc {border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-bottom: 2rem;}
